body{
    height: 97vh;
    width: 99vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #020024 0%, #090979 35%, #00d4ff 100%);
}

.box{
    border-radius: 20px;
    width: 500px;
    background-color:rgb(0, 0, 0, 0.5);
}

fieldset{
    text-align: center;
    border-color: white;
    border-radius: 20px;
    border: 3px solid;
}

fieldset legend{
    font-size: 1.5rem;
}

p{
    font-size: 1.1rem;
}

input.texto{
    width: 300px;
    height: 20px;
}